.slider-img {
  max-width: 120px;
}

@media (min-width: 768px) {
  .slider-img {
    max-width: 160px;
  }
}

@media (min-width: 1200px) {
  .slider-img {
    max-width: 200px;
  }
}

.slider-img:hover {
  transform: scale(1.08);
}

p.h2 {
  margin-bottom: 15px;
}

.btn {
  border-radius: 0;
  padding-block: 2px;
}

.dropdown-menu {
  border-radius: 0;
}

.icons i {
  width: 35px;
  height: 25px;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons i:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.btn.btn-dark.slider {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: red;
  border: none;
}

footer a {
  text-decoration: none;
}

.copyR {
  font-size: 11px;
}
